<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
	<script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../static/news/js/jquery.form.min.js"></script>
	<script type="text/javascript" src="../../static/news/js/main.js"></script>
</head>
<body>
    <div class="header_con">
        <div class="header">
            <a href="/" class="logo fl"><img src="../../static/news/images/logo.png" alt="logo"></a>
            <!-- 用户登录后显示下面，隐藏上面 -->
             {% if user_info %}
                 <div class="user_login fr">
                 <a href="#">
                 {% if user_info.avatar_url %}
                    <img src="{{ user_info.avatar_url }}" class="lgin_pic">
                 {% else %}
                    <img src="../../static/news/images/person01.png" class="lgin_pic">
                 {% endif %}
                 </a>
                <a href="#">{{ user_info.get('nick_name') }}</a>
                <a href="/" onclick="user_logout()">退出&nbsp;&nbsp;&nbsp;</a>
                 </div>
             {% else %}
                 <div class="user_btns fr">
                <a href="javascript:;" class="login_btn">登录</a> / <a href="javascript:;" class="register_btn">注册</a>
                </div>
             {% endif %}
        </div>
    </div>
	
	<div class="conter_con">
		<div class="user_menu_con fl">
			<div class="user_center_pic">
                {% if user_info.avatar_url %}
                    <img src="{{ user_info.avatar_url }}" alt="用户图片">
                {% else %}
				    <img src="../../static/news/images/user_pic.png" alt="用户图片">
                {% endif %}
			</div>
			<div class="user_center_name">{{ user_info.nick_name }}</div>

			<ul class="option_list">
				<li class="active"><a href="/user_info/basic_info" target="main_frame">基本资料</a></li>
				<li><a href="/user_info/picture_info" target="main_frame">头像设置</a></li>
				<li><a href="/user_info/follow_info" target="main_frame">我的关注</a></li>
				<li><a href="/user_info/pass_info" target="main_frame">密码修改</a></li>
				<li><a href="/user_info/collect_info" target="main_frame">我的收藏</a></li>
				<li><a href="/user_info/news_release" target="main_frame">新闻发布</a></li>
				<li><a href="/user_info/news_info" target="main_frame">新闻列表</a></li>
			</ul>
		</div>

		<div class="user_con fr">
			<iframe src="/user_info/basic_info" frameborder="0" name="main_frame" class="main_frame" id="main_frame"></iframe>
		</div>		
	</div>
	<div class="footer">		
		<div class="footer_links">
			<a href="">关于我们</a>
			<span>|</span>
			<a href="">联系我们</a>
			<span>|</span>
			<a href="">招聘人才</a>
			<span>|</span>
			<a href="">友情链接</a>
		</div>
		<p class="copyright">
			CopyRight © 2018 新经资讯信息技术有限公司 All Rights Reserved<br />
电话：010-****888    京ICP备*******8号
		</p>
	</div>
</body>
</html>